In [128]:
# Dependencies and Setup
import pandas as pd

# File to Load (Create the path)
school_csv = "schools_complete.csv"
student_csv = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_csv)
student_data_df = pd.read_csv(student_csv)

# Print out each of the csv files for viewing to analyze
student_data_df.head()

   Student ID       student_name  ... reading_score math_score
0           0       Paul Bradley  ...            66         79
1           1       Victor Smith  ...            94         61
2           2    Kevin Rodriguez  ...            90         60
3           3  Dr. Richard Scott  ...            67         58
4           4         Bonnie Ray  ...            97         84

[5 rows x 7 columns]

In [129]:
# Print out each of the csv files for viewing to analyze
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [130]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name"])
school_data_complete_df.head()

   Student ID       student_name gender  ...      type  size   budget
0           0       Paul Bradley      M  ...  District  2917  1910635
1           1       Victor Smith      M  ...  District  2917  1910635
2           2    Kevin Rodriguez      M  ...  District  2917  1910635
3           3  Dr. Richard Scott      M  ...  District  2917  1910635
4           4         Bonnie Ray      F  ...  District  2917  1910635

[5 rows x 11 columns]

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [148]:
total_students = school_data_complete_df["student_name"].count()
total_schools = school_data_df["school_name"].count()
total_budget = school_data_df["budget"].sum()
avg_math = student_data_df["math_score"].mean()
avg_read = student_data_df["reading_score"].mean()

# Use loc to find how many students passed math and reading and both
math_pass = (school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70, :])
count_math = math_pass["Student ID"].count()

read_pass = (school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70, :])
count_read = read_pass["Student ID"].count()

both_pass = (school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70), :])
count_both = both_pass ["Student ID"].count()

# Now calculate the percentage of students that passed math/reading/both
pct_math = (count_math / total_students) * 100
pct_read = (count_read / total_students) * 100
pct_both = (count_both / total_students) * 100

#Print the summary results in a DataFrame using a summary dictionary
summary_dicts = [{"Total Schools" : total_schools, 
                 "Total Students" : total_students,
                 "Total Budget" : total_budget,
                 "Average Math Score" : avg_math,
                 "Average Reading Score" : avg_read,
                 "% Passed Math" : pct_math,
                 "% Passed Reading" : pct_read,
                 "% Passed Both" : pct_both}]
summary_df = pd.DataFrame(summary_dicts)

# Format the Data Frame
summary_df["Total Students"] = summary_df["Total Students"].map("{:,}".format)
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,.2f}".format)
summary_df["Average Math Score"] = summary_df["Average Math Score"].map("{:.5f}".format)
summary_df["Average Reading Score"] = summary_df["Average Reading Score"].map("{:.5f}".format)
summary_df["% Passed Math"] = summary_df["% Passed Math"].map("{:.6}".format)
summary_df["% Passed Reading"] = summary_df["% Passed Reading"].map("{:.6}".format)
summary_df["% Passed Both"] = summary_df["% Passed Both"].map("{:.6}".format)
summary_df

   Total Schools Total Students  ... % Passed Reading % Passed Both
0             15         39,170  ...          85.8055       65.1723

[1 rows x 8 columns]

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [187]:
# Use Group By to sort by the school name and then display
school_summary_df = school_data_complete_df.groupby(["school_name"])
school_summary_count = school_summary_df["student_name"].count()
school_summary_type = school_summary_df["type"].unique()
school_summary_budget = school_summary_df["budget"].sum()
school_summary_avg = school_summary_budget / school_summary_count
school_summary_math = school_summary_df["math_score"].mean()
school_summary_read = school_summary_df["reading_score"].mean()

# # Use the loc function to find math scores greater than 70 at each school
# school_summary_Bailey_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Bailey High School")]
# pct_Bailey_math = (school_summary_Bailey_math.count()) / school_summary_count

# school_summary_Cabrera_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Cabrera High School")]
# pct_Cabrera_math = (school_summary_Cabrera_math.count()) / school_summary_count

# school_summary_Figueroa_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Figueroa High School")]
# pct_Figueroa_math = (school_summary_Figueroa_math.count()) / school_summary_count

# school_summary_Ford_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Ford High School")]
# pct_Ford_math = (school_summary_Ford_math.count()) / school_summary_count

# school_summary_Griffin_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Griffin High School")]
# pct_Griffin_math = (school_summary_Griffin_math.count()) / school_summary_count

# school_summary_Hernandez_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Hernandez High School")]
# pct_Hernandez_math = (school_summary_Hernandez_math.count()) / school_summary_count

# school_summary_Holden_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Holden High School")]
# pct_Holden_math = (school_summary_Holden_math.count()) / school_summary_count

# school_summary_Huang_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Huang High School")]
# pct_Huang_math = (school_summary_Huang_math.count()) / school_summary_count

# school_summary_Johnson_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Johnson High School")]
# pct_Johnson_math = (school_summary_Johnson_math.count()) / school_summary_count

# school_summary_Pena_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Pena High School")]
# pct_Pena_math = (school_summary_Pena_math.count()) / school_summary_count

# school_summary_Rodriguez_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Rodriguez High School")]
# pct_Rodriguez_math = (school_summary_Rodriguez_math.count()) / school_summary_count

# school_summary_Shelton_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Shelton High School")]
# pct_Shelton_math = (school_summary_Shelton_math.count()) / school_summary_count

# school_summary_Thomas_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Thomas High School")]
# pct_Thomas_math = (school_summary_Thomas_math.count()) / school_summary_count

# school_summary_Wilson_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Wilson High School")]
# pct_Wilson_math = (school_summary_Wilson_math.count()) / school_summary_count

# school_summary_Wright_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Wright High School")]
# pct_Wright_math = (school_summary_Wright_math.count()) / school_summary_count

# school_summary_pass_math = ({pct_Bailey_math, pct_Cabrera_math, pct_Figueroa_math, pct_Ford_math, pct_Griffin_math, pct_Hernandez_math, pct_Holden_math, pct_Huang_math, pct_Johnson_math, pct_Pena_math, pct_Rodriguez_math, pct_Shelton_math, pct_Thomas_math, pct_Wilson_math, pct_Wright_math})


school_analysis_df = pd.DataFrame({"School Type": school_summary_type,
                                   "Total Students": school_summary_count,
                                   "Total School Budget": school_summary_budget,
                                   "Per Student Budget": school_summary_avg,
                                   "Average Math Score": school_summary_math,
                                   "Average Reading Score": school_summary_read})
                                #  "% Passed Math": school_summary_pass_math})
                                #    "% Passed Reading": school_summary_pass_read,
                                #    "% Passed Both": school_summary_pass_both,"})
school_analysis_df #FIXME still need to add in % Passed Math, % Passed Reading, % Passed Both

                      School Type  ...  Average Reading Score
school_name                        ...
Bailey High School     [District]  ...              81.033963
Cabrera High School     [Charter]  ...              83.975780
Figueroa High School   [District]  ...              81.158020
Ford High School       [District]  ...              80.746258
Griffin High School     [Charter]  ...              83.816757
Hernandez High School  [District]  ...              80.934412
Holden High School      [Charter]  ...              83.814988
Huang High School      [District]  ...              81.182722
Johnson High School    [District]  ...              80.966394
Pena High School        [Charter]  ...              84.044699
Rodriguez High School  [District]  ...              80.744686
Shelton High School     [Charter]  ...              83.725724
Thomas High School      [Charter]  ...              83.848930
Wilson High School      [Charter]  ...              83.989488
Wright High School      [Charter]  ...              83.955000

[15 rows x 6 columns]

## Top Performing Schools (By % Overall Passing)

In [193]:
top_overall_df = school_analysis_df.sort_values("Total Students", ascending=False)#FIXME we want to sort by % Overall Passing, just change from "Total Students" to "% Overall Passing"
top_overall_df.head()

                      School Type  ...  Average Reading Score
school_name                        ...
Bailey High School     [District]  ...              81.033963
Johnson High School    [District]  ...              80.966394
Hernandez High School  [District]  ...              80.934412
Rodriguez High School  [District]  ...              80.744686
Figueroa High School   [District]  ...              81.158020

[5 rows x 6 columns]

## Bottom Performing Schools (By % Overall Passing)

In [194]:
bottom_overall_df = school_analysis_df.sort_values("Total Students", ascending=True)#FIXME we want to sort by % Overall Passing, we need to change from "Total Students" to "% Overall Passing"
bottom_overall_df.head()

                    School Type  ...  Average Reading Score
school_name                      ...
Holden High School    [Charter]  ...              83.814988
Pena High School      [Charter]  ...              84.044699
Griffin High School   [Charter]  ...              83.816757
Thomas High School    [Charter]  ...              83.848930
Shelton High School   [Charter]  ...              83.725724

[5 rows x 6 columns]

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.46,83.93,93.46,96.61,90.37
$585-629,81.90,83.16,87.13,92.72,81.42
$630-644,78.52,81.62,73.48,84.39,62.86
$645-675,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208